.espacamento-botoes {
    display: flex;
    flex: 1;
    align-items: center;
    gap: 50px;
}

.espacamento-inputs {
    display: flex;
    width: 65%;
    align-self: flex-start;
    flex-direction: row;
    gap: 10vw;
}